<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Registro de usuarios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-dark p-5">
			<div class="container-fluid position-relative">
				<h2 class="text-white position-absolute top-50 start-0 translate-middle-y mx-5">Evaluación Permanente 4</h2>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			<div class="row position-relative">
				<div class="col-md-6 col-md-offset-3 position-absolute top-0 start-50 translate-middle-x">
					<div th:if="${param.exito}">
						<div class="alert alert-info">
							Registro exitoso, por favor inicie sesión
						</div>
					</div>

					<h1 class="my-4">Registro</h1>
					<form th:action="@{/registro}" method="post" th:object="${usuario}">
						<div class="form-group my-3">
							<label class="control-label mb-2" for="nombre">Nombre :</label>
							<input id="nombre" type="text" class="form-control" th:field="*{nombre}"
								required="required" autofocus="autofocus" placeholder="Ingrese su nombre" />
						</div>

						<div class="form-group my-3">
							<label class="control-label mb-2" for="apellido">Apellido :</label>
							<input id="apellido" type="text" class="form-control" th:field="*{apellido}"
								required="required" placeholder="Ingrese su apellido" />
						</div>

						<div class="form-group my-3">
							<label class="control-label mb-2" for="email">Correo :</label>
							<input id="email" type="email" class="form-control" th:field="*{email}"
								required="required" placeholder="Ingrese su correo" />
						</div>

						<div class="form-group my-3">
							<label class="control-label mb-2" for="password">Contraseña : </label> <input
								type="password" id="password" class="form-control" th:field="*{password}"
								required="required" placeholder="Ingrese su contraseña" >
						</div>

						<div class="form-group my-4">
							<button type="submit" class="btn btn-primary">Registrarse</button>
							<br>
							<br>
							<span>¿Ya tienes una cuenta? <a th:href="@{/login}"> Inicia sesión</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>














